* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: calc(100vh);
  padding-left: calc(20vw);
  padding-right: calc(20vw);
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainFrame {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  background-color: white;
}

.mainFrame h1 {
  font-size: 50px;
  font-family: "Product Sans Black";
  font-weight: 700;
  margin-bottom: 40px;
}

.mainFrame p {
  font-family: "Product Sans Light";
}

.description {
  margin-bottom: 20px;
  font-size: 24px;
  color: #111111;
  font-weight: 400;
}

.footnote {
  color:#adadad;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
}

.footer-container {
  background-color: #1a1a1a;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: -80px;
  margin-top: 40px;
}

.footer {
  color: #adadad;
  font-size: 12px;
  text-align: center;
}